<!-- <link rel="stylesheet" type="text/css" href="sytle.css"> -->
<div class="taskbar">
	<a href="/sign_in">sign in</a>
</div>

<!-- <h2>Signup Form</h2>
 -->
<form method="POST" action="/signup"> 
	<div>
		<label for="fname">First</label> 
		<input type="text" name="[user]fname"> 
	</div>
	<div>
		<label for="lname">Last</label> 
		<input type="text" name="[user]lname"> 
	</div>
	<div>	
		<label for="email">Email</label> 
		<input type="text" name="[user]email">
	</div>
	<div>
		<label for="phone">Phone</label> 
		<input type="text" name="[user]phone">  
	</div>
	<div>
		<label for="username">Username</label> 
		<input type="text" name="[user]username"> 
	</div>
	<div>
		<label for="password">Password</label> 
		<input type="password" name="[user]password"> 
	</div>
	<input type="submit">
</form>